<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Homepage - {{ a }}</h1>
	<h2>{% url 'home' %}</h2>
	<span>{% csrf_token %}</span>
	<div>
		{% if 1 < 2 %}
		!!!!!!!!!
		{% endif %}

	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci sint cum dolores ullam qui blanditiis tempore ex ratione amet dicta et exercitationem, voluptate voluptatem inventore repudiandae. Sed incidunt voluptatem quod.</p>
	
</body>
</html>